svg {
  font: 11px sans-serif;
}

.axis {
  shape-rendering: crispEdges;
}
.axis .domain {
  fill: none;
  stroke: #666;
  stroke-width: 1px;
}
.axis line {
  stroke: #000;
}

.male {
  fill: #3388EE;
}
.female {
  fill: #EEAACC;
}

#selectButton1 {
  position: absolute;
      top: 200px;
      left: 10px;

}

#selectButton2 {
  position: absolute;
      top: 200px;
      left: 650px;

}

#selectButton3 {
  position: absolute;
      top: 880px;
      left: 10px;

}

#play-button {
      position: absolute;
      top: 680px;
      left: 170px;
      background: #f08080;
      padding-right: 26px;
      border-radius: 3px;
      border: none;
      color: white;
      margin: 0;
      padding: 0 12px;
      width: 60px;
      cursor: pointer;
      height: 30px;
    }

    #play-button:hover {
      background-color: #696969;
    }    

#reset-button {
      position: absolute;
      top: 1350px;
      left: 20px;
      background: #f08080;
      padding-right: 26px;
      border-radius: 3px;
      border: none;
      color: white;
      margin: 0;
      padding: 0 12px;
      width: 60px;
      cursor: pointer;
      height: 30px;
    }

#reset-button:hover {
      background-color: #696969;
    }   

.ticks {
      font-size: 10px;
    }

    .track,
    .track-inset,
    .track-overlay {
      stroke-linecap: round;
    }

    .track {
      stroke: #000;
      stroke-opacity: 0.3;
      stroke-width: 10px;
    }

    .track-inset {
      stroke: #dcdcdc;
      stroke-width: 8px;
    }

    .track-overlay {
      pointer-events: stroke;
      stroke-width: 50px;
      stroke: transparent;
      cursor: crosshair;
    }

    .handle {
      fill: #fff;
      stroke: #000;
      stroke-opacity: 0.5;
      stroke-width: 1.25px;
    }


#scroll {
  position: relative;
  border-top: 1px dashed #000;
  border-bottom: 1px dashed #000;
}

.scroll__graphic {
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  background-color: #fff;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.scroll__graphic.is-fixed {
  position: fixed;
}

.scroll__graphic.is-bottom {
  bottom: 0;
  top: auto;
}

.chart {
  position: absolute;
  right: 1rem;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #ddd;
  border: 1px solid #000;
}

.chart p {
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  color: #666;
}

.scroll__text {
  position: relative;
  padding: 0 1rem;
  max-width: 30rem;
  width: 33%;
}

.step {
  margin: 2rem auto;
  border: 1px solid #333;
}

.step.is-active {
  background-color: lightgoldenrodyellow;
}

.step p {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}