svg {
  font: 11px sans-serif;
}

.axis {
  shape-rendering: crispEdges;
}
.axis .domain {
  fill: none;
  stroke: #666;
  stroke-width: 1px;
}
.axis line {
  stroke: #000;
}

rect.barM {
  fill: #3388EE;
}
rect.barF {
  fill: #EEAACC;
}

.handle {
  stroke: #000;
  fill: #ccc;
}

#scroll {
  position: relative;
  border-top: 1px dashed #000;
  border-bottom: 1px dashed #000;
}

.scroll__graphic {
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  background-color: #fff;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.scroll__graphic.is-fixed {
  position: fixed;
}

.scroll__graphic.is-bottom {
  bottom: 0;
  top: auto;
}

.chart {
  position: absolute;
  right: 1rem;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #ddd;
  border: 1px solid #000;
}

.chart p {
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  color: #666;
}

.scroll__text {
  position: relative;
  padding: 0 1rem;
  max-width: 30rem;
  width: 33%;
}

.step {
  margin: 2rem auto;
  border: 1px solid #333;
}

.step.is-active {
  background-color: lightgoldenrodyellow;
}

.step p {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}